*.version
src/hierdis_version.hrl
rel/pkg/*.gz
rel/pkg/*.tar
gproc_*
.eunit
ebin
db
deps
logs
*~
#*
.DS_Store
Mnesia.*
erl_crash.dump
*.beam
*.o
*.so
standalone.config
rel/hierdis
rel/hierdis.tar.bz2
/rebar
/doc/
/dev
/log
/rel/vars/dev*_vars.config
/.hierdis.plt
/c_src/hiredis/