{erl_opts, [
    warnings_as_errors,
    debug_info
]}.

{port_specs, [
	{"priv/hierdis_drv.so", ["c_src/hiredis_erl_driver.c", "c_src/hierdis_port.c", "c_src/hierdis_call.c", "c_src/hierdis_drv.c"]},
	{"priv/hierdis_nif.so", ["c_src/hierdis_nif.c"]}
]}.

{port_env, [
	{"CFLAGS", "$CFLAGS -std=c99 -Wall -O3 -fPIC"},
	{"DRV_CFLAGS", "$DRV_CFLAGS -O3 -Wall -I c_src/hiredis"},
	{"DRV_LDFLAGS", "$DRV_LDFLAGS c_src/hiredis/libhiredis.a"}
]}.

{pre_hooks, [{'get-deps', "make -C c_src get-deps"},
             {'compile', "make -C c_src"}]}.

{post_hooks, [{'clean', "make -C c_src clean"},
              {'delete-deps', "make -C c_src delete-deps"}]}.

{clean_files, ["c_src/*.o", "priv/*.so"]}.

{ct_extra_params, "-no_auto_compile"}.
