{port_specs, [{"priv/hierdis_nif.so", ["c_src/*.c"]}]}.

{port_env, [
	{"CFLAGS", "$CFLAGS -std=c99 -Wall -O3 -fPIC -I c_src/hiredis"},
	{"LD_LIBRARY_PATH", "$LD_LIBRARY_PATH:${PWD}/c_src/hiredis"},
	{"LDFLAGS", "$LDFLAGS -L ${PWD}/c_src/hiredis -lhiredis"}
]}.

{pre_hooks, [{'get-deps', "c_src/build_deps.sh get-deps"},
             {'compile', "c_src/build_deps.sh make"}]}.

{post_hooks, [{clean, "c_src/build_deps.sh clean"}]}.

{clean_files, ["c_src/*.o", "priv/*.so"]}.
